<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Amaze UI Admin index Examples</title>
    <meta name="description" content="这是一个 index 页面">
    <meta name="keywords" content="index">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="renderer" content="webkit">
    <meta http-equiv="Cache-Control" content="no-siteapp" />
    <meta name="apple-mobile-web-app-title" content="Amaze UI" />
    <link rel="stylesheet" th:href="@{~/css/amazeui.min.css}" />
    <link rel="stylesheet" th:href="@{~/css/admin.css}">
    <link rel="stylesheet" th:href="@{~/css/app.css}">
    <link rel="stylesheet" th:href="@{~/css/materialize.min.css}">
    <script th:src="@{~/js/echarts.min.js}"></script>
    <script th:src="@{~/js/jquery.min.js}"></script>
    <script th:src="@{~/js/amazeui.min.js}"></script>
    <script th:src="@{~/js/app.js}"></script>
    <script th:src="@{~/js/materialize.min.js}"></script>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
</head>

<body data-type="chart">


<header class="am-topbar am-topbar-inverse admin-header">
    <div class="am-topbar-brand">
        <a href="javascript:;" class="tpl-logo">
            <img src="../img/food.png" alt="" style="width: 90px;height: 90px">
        </a>
    </div>
    <div class="am-icon-list tpl-header-nav-hover-ico am-fl am-margin-right">

    </div>

    <button class="am-topbar-btn am-topbar-toggle am-btn am-btn-sm am-btn-success am-show-sm-only" data-am-collapse="{target: '#topbar-collapse'}"><span class="am-sr-only">导航切换</span> <span class="am-icon-bars"></span></button>


</header>





<div class="tpl-page-container tpl-page-header-fixed">


    <div class="tpl-left-nav tpl-left-nav-hover">
        <div class="tpl-left-nav-title">
            功能导航
        </div>
        <div class="tpl-left-nav-list">
            <ul class="tpl-left-nav-menu">
                <li class="tpl-left-nav-item">
                    <a href="http://localhost:8080/index" class="nav-link">
                        <i class="material-icons">menu</i>
                        <span>菜单</span>
                    </a>
                </li>
                <li class="tpl-left-nav-item">
                    <a href="#" class="nav-link tpl-left-nav-link-list">
                        <i class="material-icons">add_shopping_cart</i>
                        <span>购物车</span>
                    </a>
                </li>

                <li class="tpl-left-nav-item">
                    <a href="http://localhost:8080/order" class="nav-link tpl-left-nav-link-list">
                        <i class="material-icons">receipt</i>
                        <span>我的订单</span>
                    </a>
                </li>
                <li class="tpl-left-nav-item">
                    <a href="http://localhost:8080/deliverOrder" class="nav-link tpl-left-nav-link-list   active">
                        <i class="material-icons">directions_car</i>
                        <span>我要配送</span>
                    </a>
                </li>
                <li class="tpl-left-nav-item">
                    <a href="http://localhost:8080/person" class="nav-link tpl-left-nav-link-list">
                        <i class="material-icons">person</i>
                        <span>个人中心</span>
                    </a>
                </li>
                <li class="tpl-left-nav-item">
                    <a href="http://localhost:8080/comment" class="nav-link tpl-left-nav-link-list ">
                        <i class="material-icons">border_color</i>
                        <span>留言板</span>
                    </a>
                </li>

            </ul>
        </div>
    </div>





    <div class="tpl-content-wrapper">
        <div class="tpl-content-page-title">
            我要配送
        </div>
        <ol class="am-breadcrumb">
            <li><a href="#" class="am-icon-home">首页</a></li>
            <li class="am-active">我要配送</li>
        </ol>
        <div class="row">
            <div class="am-u-lg-6 am-u-md-6 am-u-sm-12">
                <div class="card-panel">
                    <div class="tpl-block">
                        <p>配送费为一律每单三元</p>
                        <!--此部分数据请在 js文件夹下中的 app.js 中的 “百度图表A” 处修改数据 插件使用的是 百度echarts-->
                        <table class="am-table" style="font-size: 16px">
                            <thead>
                            <tr>
                                <th>订单编号</th>
                                <th>地址</th>
                                <th></th>
                            </tr>
                            </thead>
                            <tbody>
                            <th:block th:each="indent:${StuWaitIndent}">
                            <tr>
                                <td style="vertical-align: middle"><span th:text="${indent.getId()}">201805092214</span></td>
                                <td style="vertical-align: middle" ><span style="color: black" th:text="${indent.getUser().getAddress()}">十二栋南405</span></td>
                                <th style="vertical-align: middle"><a th:href="${'http://localhost:8080/wantDeliver/'+indent.getId()}">接单</a></th>
                            </tr>
                            </th:block>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
            <div class="am-u-lg-6 am-u-md-6 am-u-sm-12">
                <div class="card-panel">
                    <div class="tpl-block">
                        <p>已接订单</p>
                        <!--此部分数据请在 js文件夹下中的 app.js 中的 “百度图表A” 处修改数据 插件使用的是 百度echarts-->
                        <table class="am-table" style="font-size: 16px">
                            <thead>
                            <tr>
                                <th>订单编号</th>
                                <th>地址</th>
                                <th></th>
                            </tr>
                            </thead>
                            <tbody>
                            <th:block th:each="stuIndent:${StuFinishIndent}">
                            <tr>

                                <td style="vertical-align: middle"><span th:text="${stuIndent.getIndent().getId()}">201805092214</span></td>
                                <td style="vertical-align: middle" ><span style="color: black" th:text="${stuIndent.getUser().getAddress()}">十一栋南405</span></td>

                                <td style="vertical-align: middle">
                                    <div th:switch="${stuIndent.isState()}">
                                    <div th:case="true" >已完成</div>
                                        <div th:case="false" id="comfirm"><a onclick="finish(this)" th:id="${stuIndent.getId()}">点击确认送达</a></div>

                                  </div>
                                </td>
                            </tr>
                            </th:block>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>

    </div>

</div>



</body>
<script>
function finish(myself) {
    let id=myself.id;
    $.post("/finishDeliver",
        {
            id:id
        },
        function(data){
            alert("已确认");
            let div=document.getElementById("comfirm");
            div.innerHTML="已完成";
        });

}

</script>
</html>