<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">


<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Amaze UI Admin index Examples</title>
    <meta name="description" content="这是一个 index 页面">
    <meta name="keywords" content="index">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="renderer" content="webkit">
    <meta http-equiv="Cache-Control" content="no-siteapp" />
    <link rel="stylesheet" th:href="@{~/css/amazeui.min.css}" />
    <link rel="stylesheet" th:href="@{~/css/admin.css}">
    <link rel="stylesheet" th:href="@{~/css/app.css}">
    <link rel="stylesheet" th:href="@{~/css/materialize.min.css}">
    <script th:src="@{~/js/echarts.min.js}"></script>
    <script th:src="@{~/js/jquery.min.js}"></script>
    <script th:src="@{~/js/amazeui.min.js}"></script>
    <script th:src="@{~/js/app.js}"></script>
    <script th:src="@{~/js/materialize.min.js}"></script>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
</head>

<body data-type="chart">


<header class="am-topbar am-topbar-inverse admin-header">
    <div class="am-topbar-brand">
        <a href="javascript:;" class="tpl-logo">
            <img src="../img/food.png" alt="" style="width: 90px;height: 90px">
        </a>
    </div>
    <div class="am-icon-list tpl-header-nav-hover-ico am-fl am-margin-right">

    </div>

    <button class="am-topbar-btn am-topbar-toggle am-btn am-btn-sm am-btn-success am-show-sm-only" data-am-collapse="{target: '#topbar-collapse'}"><span class="am-sr-only">导航切换</span> <span class="am-icon-bars"></span></button>


</header>





<div class="tpl-page-container tpl-page-header-fixed">


    <div class="tpl-left-nav tpl-left-nav-hover">
        <div class="tpl-left-nav-title">
            功能导航
        </div>
        <div class="tpl-left-nav-list">
            <ul class="tpl-left-nav-menu">
                <li class="tpl-left-nav-item">
                    <a href="http://localhost:8080/schoolOrder" class="nav-link">
                        <i class="material-icons">star</i>
                        <span>
                            待确认订单
                        </span>
                    </a>
                </li>
                <li class="tpl-left-nav-item">
                    <a href="http://localhost:8080/studeliverManager" class="nav-link tpl-left-nav-link-list ">
                        <i class="material-icons">book</i>
                        <span>学生配送订单</span>
                    </a>
                </li>


                <li class="tpl-left-nav-item">
                    <a href="http://localhost:8080/foodmanager" class="nav-link tpl-left-nav-link-list">
                        <i class="material-icons">device_hub</i>
                        <span>菜品管理</span>
                    </a>
                </li>
            </ul>
        </div>
    </div>






    <div class="tpl-content-wrapper">
        <div class="tpl-content-page-title">
            订单详情
        </div>
        <ol class="am-breadcrumb">
            <li><a href="#">首页</a></li>
            <li class="am-active">订单详情</li>
        </ol>
        <div class="tpl-portlet-components">
            <div class="portlet-title">
                <div class="caption font-green bold">
                    <span class="am-icon-code"></span> 订购清单
                </div>
            </div>
            <div class="tpl-block">

                <!--此部分数据请在 js文件夹下中的 app.js 中的 “百度图表A” 处修改数据 插件使用的是 百度echarts-->
                <table class="am-table" style="font-size: 16px">
                    <thead>
                    <tr>
                        <th></th>
                        <th>名称</th>
                        <th>价格</th>
                        <th>数量</th>
                        <th>评价</th>
                    </tr>
                    </thead>
                    <tbody>
                    <th:block th:each="indentDetail:${schoolIndentDes}">
                        <tr>
                            <td><img th:src="@{${indentDetail.getFood().getImage()}}" style="height: 62px;width: 100px"></td>
                            <td style="vertical-align: middle"><span th:text="${indentDetail.getFood().getName()}">小炒藕片</span></td>
                            <td style="vertical-align: middle" ><span th:text="${indentDetail.getSumPrice()}">20</span></td>
                            <td style="vertical-align: middle" th:text="${indentDetail.getNum()}">2</td>
                            <td>
                                <input type="text" class="am-form-field am-radius" th:value="${indentDetail.getComment()}" disabled/>
                            </td>

                        </tr>
                    </th:block>

                    <tr>
                        <td></td>
                        <td></td>
                        <td style="vertical-align: middle"></td>
                        <td style="vertical-align: middle"><span style="color: black">预订时间</span></td>
                        <td style="vertical-align: middle"><span th:text="${schoolIndent.getDate()}">2018-08-09 12:34:43</span></td>
                    </tr>
                    <tr>
                        <td></td>
                        <td></td>
                        <td style="vertical-align: middle"></td>
                        <td style="vertical-align: middle"><span style="color: black">顾客</span></td>
                        <td style="vertical-align: middle"><span th:text="${schoolIndent.getUser().getName()}">飞翔的猪</span></td>

                    </tr>
                    <tr>
                        <td></td>
                        <td></td>
                        <td style="vertical-align: middle"></td>
                        <td style="vertical-align: middle"><span style="color: black">送达地址</span></td>
                        <td style="vertical-align: middle"><span th:text="${schoolIndent.getUser().getAddress()}">生活区12栋205</span></td>

                    </tr>
                    <tr>
                        <td></td>
                        <td></td>
                        <td style="vertical-align: middle"></td>
                        <td style="vertical-align: middle"><span style="color: black">订单状态</span></td>
                        <td>
                            <div th:switch="${schoolIndent.getState()}">
                                <div th:case="1" ><span style="color: black">未接单</span></div>
                                <div th:case="2" ><span style="color: black">正安排配送</span></div>
                                <div th:case="3" ><span style="color: black">已完成</span></div>
                            </div>
                        </td>

                    </tr>
                    <tr>
                        <td></td>
                        <td></td>
                        <td style="vertical-align: middle"></td>
                        <td style="vertical-align: middle"><span style="color: black ;font-size: 24px">总金额</span></td>
                        <td style="vertical-align: middle"><span style="color: red;font-size: 24px" th:text="${schoolIndent.getSumPrice()}">3000</span></td>

                    </tr>
                    </tbody>
                </table>
            </div>

        </div>



    </div>

</div>


</body>

</html>