<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Amaze UI Admin index Examples</title>
    <meta name="description" content="这是一个 index 页面">
    <meta name="keywords" content="index">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="renderer" content="webkit">
    <meta http-equiv="Cache-Control" content="no-siteapp" />
    <link rel="icon" type="image/png" href="assets/i/favicon.png">
    <link rel="apple-touch-icon-precomposed" href="assets/i/app-icon72x72@2x.png">
    <meta name="apple-mobile-web-app-title" content="Amaze UI" />
    <link rel="stylesheet" href="assets/css/amazeui.min.css" />
    <link rel="stylesheet" href="assets/css/admin.css">
    <link rel="stylesheet" href="assets/css/app.css">
    <script src="assets/js/echarts.min.js"></script>
</head>
<body>
<div>
    <img src="assets/img/food1.png" data-am-modal="{target: '#my-popup'}">
    <div class="am-popup" id="my-popup">
        <div class="am-popup-inner">
            <div class="am-popup-hd">
                <h4 class="am-popup-title">评论</h4>
                <span data-am-modal-close
                      class="am-close"></span>
            </div>
            <div class="am-popup-bd">
                <p style="font-size: 16px">超好吃的呢</p>

            </div>
        </div>
    </div>


    <tr>
        <td></td>
        <td></td>
        <td style="vertical-align: middle"></td>
        <td style="vertical-align: middle"><span style="color: black">预订时间</span></td>
        <td style="vertical-align: middle"><span th:text="${schoolIndent.getDate()}">2018-08-09 12:34:43</span></td>
    </tr>
    <tr>
        <td></td>
        <td></td>
        <td style="vertical-align: middle"></td>
        <td style="vertical-align: middle"><span style="color: black">顾客</span></td>
        <td style="vertical-align: middle"><span th:text="${schoolIndent.getUser().getName()}">飞翔的猪</span></td>

    </tr>
    <tr>
        <td></td>
        <td></td>
        <td style="vertical-align: middle"></td>
        <td style="vertical-align: middle"><span style="color: black">送达地址</span></td>
        <td style="vertical-align: middle"><span th:text="${schoolIndent.getUser().getAddress()}">生活区12栋205</span></td>

    </tr>
    <tr>
        <td></td>
        <td></td>
        <td style="vertical-align: middle"></td>
        <td style="vertical-align: middle"><span style="color: black">订单状态</span></td>
        <td>
            <div th:switch="${schoolIndent.getState()}">
                <div th:case="1" ><span style="color: black">未接单</span></div>
                <div th:case="2" ><span style="color: black">正安排配送</span></div>
                <div th:case="3" ><span style="color: black">已完成</span></div>
            </div>
        </td>

    </tr>
    <tr>
        <td></td>
        <td></td>
        <td style="vertical-align: middle"></td>
        <td style="vertical-align: middle"><span style="color: black ;font-size: 24px">总金额</span></td>
        <td style="vertical-align: middle"><span style="color: red;font-size: 24px" th:text="${schoolIndent.getSumPrice()}">3000</span></td>

    </tr>



</div>
</body>
<script src="assets/js/jquery.min.js"></script>
<script src="assets/js/amazeui.min.js"></script>
<script src="assets/js/app.js"></script>
</html>